In [1]:
import pandas as pd
from darts import TimeSeries

In [2]:
# Read a pandas DataFrame
#df = pd.read_csv("C:\jintu\Formated data_resampled 1H ID1\six months.csv")
df = pd.read_csv("MY3_May_2023_KNN_Imputed.csv")

df

,Datetime,id,field1,field2,field3,field4,field5,field6,field7,field8
0,2022-07-03 20:30:00,2.200000e+01,8.871990,0.000000,398.496241,3.636364,26.00000,71.000000,45.666667,55.000000
1,2022-07-03 20:45:00,6.700000e+01,3.802281,0.000000,229.323308,0.000000,25.00000,62.000000,44.666667,53.333333
2,2022-07-03 21:00:00,1.120000e+02,12.674271,0.000000,184.210526,0.000000,25.00000,60.000000,43.666667,52.750000
3,2022-07-03 21:15:00,1.560000e+02,16.476553,0.000000,165.413534,0.000000,24.00000,59.666667,43.333333,52.666667
4,2022-07-03 21:30:00,5.307278e+05,321.540266,190.816359,794.429588,371.997558,27.25921,61.186420,18.749892,20.904609
...,...,...,...,...,...,...,...,...,...,...
28042,2023-04-21 23:00:00,1.061851e+06,397.944200,225.108225,700.960219,489.898990,29.00000,69.000000,27.666667,29.000000
28043,2023-04-21 23:15:00,1.061896e+06,392.070485,225.974026,707.818930,492.424242,29.00000,69.000000,31.666667,36.000000
28044,2023-04-21 23:30:00,1.061941e+06,393.538913,225.974026,716.049383,493.686869,29.00000,70.000000,33.333333,39.333333
28045,2023-04-21 23:45:00,1.061986e+06,392.070485,225.108225,727.023320,488.636364,29.00000,70.000000,35.333333,42.666667
28046,2023-04-22 00:00:00,1.062008e+06,414.096916,220.779221,720.164609,496.212121,29.00000,70.000000,37.000000,44.000000

In [3]:
df1 = df
df1['Datetime'] = pd.to_datetime(df['Datetime'])

df1 = df.set_index('Datetime')
#df1
df2=df1.resample('1H').mean()
df2.reset_index(inplace = True)
df2.head()

,Datetime,id,field1,field2,field3,field4,field5,field6,field7,field8
0,2022-07-03 20:00:00,44.500000,6.337136,0.000000,313.909774,1.818182,25.500000,66.500000,45.166667,54.166667
1,2022-07-03 21:00:00,265430.890775,168.057839,95.408180,484.620809,185.998779,25.879605,60.509877,31.124946,36.806471
2,2022-07-03 22:00:00,530727.781549,321.540266,190.816359,794.429588,371.997558,27.259210,61.186420,18.749892,20.904609
3,2022-07-03 23:00:00,530727.781549,321.540266,190.816359,794.429588,371.997558,27.259210,61.186420,18.749892,20.904609
4,2022-07-04 00:00:00,530727.781549,321.540266,190.816359,794.429588,371.997558,27.259210,61.186420,18.749892,20.904609

In [4]:
df = df2

target1 = 'field1'
test_l = 168
train_l = len(df) - test_l
date = 'Datetime'
# Create a TimeSeries, specifying the time and value columns
series1 = TimeSeries.from_dataframe(df, date, target1)

# Set aside the last 24 hours as a validation series
train1, val1 = series1[:train_l], series1[train_l:]

target2 = 'field2'
test_l = 168
train_l = len(df) - test_l

# Create a TimeSeries, specifying the time and value columns
series2 = TimeSeries.from_dataframe(df, date, target2)

# Set aside the last 24 hours as a validation series
train2, val2 = series2[:train_l], series2[train_l:]

target3 = 'field3'
test_l = 168
train_l = len(df) - test_l

# Create a TimeSeries, specifying the time and value columns
series3 = TimeSeries.from_dataframe(df, date, target3)

# Set aside the last 24 hours as a validation series
train3, val3 = series3[:train_l], series3[train_l:]

target4 = 'field4'
test_l = 168
train_l = len(df) - test_l

# Create a TimeSeries, specifying the time and value columns
series4 = TimeSeries.from_dataframe(df, date, target4)

# Set aside the last 24 hours as a validation series
train4, val4 = series4[:train_l], series4[train_l:]

target7 = 'field7'
test_l = 168
train_l = len(df) - test_l

# Create a TimeSeries, specifying the time and value columns
series7 = TimeSeries.from_dataframe(df, date, target7)

# Set aside the last 24 hours as a validation series
train7, val7 = series7[:train_l], series7[train_l:]

target8 = 'field8'
test_l = 168
train_l = len(df) - test_l

# Create a TimeSeries, specifying the time and value columns
series8 = TimeSeries.from_dataframe(df, date, target8)

# Set aside the last 24 hours as a validation series
train8, val8 = series8[:train_l], series8[train_l:]

## Dlinear Model

In [ ]:
from darts.metrics import rmse, mae
from darts.models import DLinearModel

input_chunk_length = 100  # Specify the input chunk length for DLinearModel
output_chunk_length = 10  # Specify the output chunk length for DLinearModel

# Train DLinear model for target1
model1 = DLinearModel(input_chunk_length=input_chunk_length, output_chunk_length=output_chunk_length, shared_weights=False, kernel_size=25, const_init=True, use_static_covariates=True)
model1.fit(train1)

# Test DLinear model for target1
prediction1 = model1.predict(len(val1))

# Calculate RMSE and MAE for target1
rmse1 = rmse(prediction1, val1.univariate_component(target1))
mae1 = mae(prediction1, val1.univariate_component(target1))

# Train DLinear model for target2
model2 = DLinearModel(input_chunk_length=input_chunk_length, output_chunk_length=output_chunk_length, shared_weights=False, kernel_size=25, const_init=True, use_static_covariates=True)
model2.fit(train2)

# Test DLinear model for target2
prediction2 = model2.predict(len(val2))

# Calculate RMSE and MAE for target2
rmse2 = rmse(prediction2, val2.univariate_component(target2))
mae2 = mae(prediction2, val2.univariate_component(target2))

# Train DLinear model for target3
model3 = DLinearModel(input_chunk_length=input_chunk_length, output_chunk_length=output_chunk_length, shared_weights=False, kernel_size=25, const_init=True, use_static_covariates=True)
model3.fit(train3)

# Test DLinear model for target3
prediction3 = model3.predict(len(val3))

# Calculate RMSE and MAE for target3
rmse3 = rmse(prediction3, val3.univariate_component(target3))
mae3 = mae(prediction3, val3.univariate_component(target3))

# Train DLinear model for target4
model4 = DLinearModel(input_chunk_length=input_chunk_length, output_chunk_length=output_chunk_length, shared_weights=False, kernel_size=25, const_init=True, use_static_covariates=True)
model4.fit(train4)

# Test DLinear model for target4
prediction4 = model4.predict(len(val4))

# Calculate RMSE and MAE for target4
rmse4 = rmse(prediction4, val4.univariate_component(target4))
mae4 = mae(prediction4, val4.univariate_component(target4))

# Train DLinear model for target7
model7 = DLinearModel(input_chunk_length=input_chunk_length, output_chunk_length=output_chunk_length, shared_weights=False, kernel_size=25, const_init=True, use_static_covariates=True)
model7.fit(train7)

# Test DLinear model for target7
prediction7 = model7.predict(len(val7))

# Calculate RMSE and MAE for target7
rmse7 = rmse(prediction7, val7.univariate_component(target7))
mae7 = mae(prediction7, val7.univariate_component(target7))

# Train DLinear model for target8
model8 = DLinearModel(input_chunk_length=input_chunk_length, output_chunk_length=output_chunk_length, shared_weights=False, kernel_size=25, const_init=True, use_static_covariates=True)
model8.fit(train8)

# Test DLinear model for target8
prediction8 = model8.predict(len(val8))

# Calculate RMSE and MAE for target8
rmse8 = rmse(prediction8, val8.univariate_component(target8))
mae8 = mae(prediction8, val8.univariate_component(target8))

# Create a DataFrame to store the results
results = pd.DataFrame({
    'Target': ['target1', 'target2', 'target3', 'target4', 'target7', 'target8'],
    'RMSE': [rmse1, rmse2, rmse3, rmse4, rmse7, rmse8],
    'MAE': [mae1, mae2, mae3, mae4, mae7, mae8]
})

# Save the results to a CSV file
results.to_csv('DLinearModel_error.csv', index=False)

GPU available: False, used: False
TPU available: False, using: 0 TPU cores
IPU available: False, using: 0 IPUs
HPU available: False, using: 0 HPUs

  | Name            | Type             | Params
-----------------------------------------------------
0 | criterion       | MSELoss          | 0
1 | train_metrics   | MetricCollection | 0
2 | val_metrics     | MetricCollection | 0
3 | decomposition   | _SeriesDecomp    | 0
4 | linear_seasonal | Linear           | 1.0 K
5 | linear_trend    | Linear           | 1.0 K
-----------------------------------------------------
2.0 K     Trainable params
0         Non-trainable params
2.0 K     Total params
0.008     Total estimated model params size (MB)

Training: 0it [00:00, ?it/s]

In [ ]:
import matplotlib.pyplot as plt

plt.rcParams['figure.figsize'] = [30, 30]
val1.plot()
prediction1.plot(label="forecast", low_quantile=0.05, high_quantile=0.95)
plt.legend()
plt.show()

In [ ]:
plt.rcParams['figure.figsize'] = [30, 30]
val2.plot()
prediction2.plot(label="forecast", low_quantile=0.05, high_quantile=0.95)
plt.legend()
plt.show()

In [ ]:
plt.rcParams['figure.figsize'] = [30, 30]
val3.plot()
prediction3.plot(label="forecast", low_quantile=0.05, high_quantile=0.95)
plt.legend()
plt.show()

In [ ]:
plt.rcParams['figure.figsize'] = [30, 30]
val4.plot()
prediction4.plot(label="forecast", low_quantile=0.05, high_quantile=0.95)
plt.legend()
plt.show()

In [ ]:
plt.rcParams['figure.figsize'] = [30, 30]
val7.plot()
prediction7.plot(label="forecast", low_quantile=0.05, high_quantile=0.95)
plt.legend()
plt.show()

In [ ]:
plt.rcParams['figure.figsize'] = [30, 30]
val8.plot()
prediction48.plot(label="forecast", low_quantile=0.05, high_quantile=0.95)
plt.legend()
plt.show()